@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  body { display: none }
}

:root {
  --GRAY-002: #676767;
  --GRAY-003: rgb(128, 128, 128);
  --GRAY-004: #E6E9ED;
  --RED-50: #DC1B3E;
  --PAGE-HORIZONTAL-MARGIN: 60px;
}

html {
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-family: 'Quicksand', 'Zen Maru Gothic', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: transparent;
  color: #000;
}
